.about-wrapper{
    display:grid; 
    align-items: center;
    justify-items: center;
}


.about-me-intro{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:5rem;
    max-width:70rem;
    padding-bottom: 8rem;
}

.animated-p{
     padding-top: 5rem;
     position: relative;
     bottom: -200px;
     opacity: 0;
}

.animate{
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
}

li > img {
    width:20px;
    height:20px;
}

@keyframes appear{
    0%{
        opacity: 0;
        bottom: -200px;
    }
    70%{
        opacity: 1;
        bottom:15px;
    }

    85%{
        opacity: 1;
        bottom:10px;
    }

    100%{
        opacity: 1;
        bottom: 0;
    }
}





.profile-img{
    height:300px;
    width: 12vw;
    align-self: center;
    justify-self: center;
    border: 9px solid transparent;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    overflow: hidden; 
    background-size:contain;
    background-image: url(img-fram.jpg);
    padding:10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
}
.profile-img > img {
    display: block; 
   height:auto;
   width:100%;
   object-fit: cover;
   border-top-left-radius: 200px;
   border-top-right-radius: 200px;
   transition: 1s ease;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.scale{
     cursor:pointer;
     transform:scale(1.2);
     transition: transform 1s ease; 
}
li {
    list-style: none;
    margin-right:1rem;
    font-size: 1.5rem;
}
.philosophy, .random-facts{
    display:flex;
    flex-direction: column;
    margin:0; 
    height:50rem;
}
.philosophy{
    background-position: start;
    background-image: url(wavy.png);
    background-size: cover;
}

.philosophy-list, .random-facts-list{
    display:grid;
    grid-template-columns: 0.2fr 2fr;
    gap:1rem;
    bottom: -200px;
    opacity: 0;
}
.random-facts{
    background-position: center;
    background-size: cover; 
    background-image: url(secondWavy.png);
}
.about-imgs{
    position: absolute;
    /* z-index: 1; */
    height: 60vh;
    width:auto;
    overflow: hidden;
}

.about-lists {
    display: flex;
    justify-content: start;
    padding:0;
    bottom: -200px;
    opacity: 0;
}

.about-lists > ul{
    margin-top:70px;
}


.random-header{
    margin-left:auto;
}

.random-facts-list{
    margin-left:auto; 
    text-align: end;
}
.random-svg{
   margin-left: 38.8vw;
   margin-right:0;
}

@media (max-width:870px){
    .about-me-intro{
        grid-template-columns: 1fr;
        margin:2rem ;
        position: static;
    }
    .profile-img{
        width:40vw;
    }
    .about-svgs{
        width:auto;
    }
    .philosophy, .random-facts{
        padding:0.5rem;
    }
   
    .random-header{
        margin-right:0;
    }
    .random-facts-list{
        margin-right:0rem;
    }
    .random-svg{
        margin-left: 20vw;
     }
     
}
