
.space{
    padding:10rem;
}



.cetnreing-search{
    display: grid;
    align-items: end;
    justify-items: end;
}
.search-bar-wraper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right:2rem;
    background-color: rgb(255, 255, 255);
    padding:0;
    border-radius: 50px;
    margin-bottom: 6rem; 
    transition: 0.6s;
}
#search-input,#search-button{
    width: 60%;
    padding: 0.7vw;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    outline:none;
    font-family: "Merriweather";
}

.search-bar-wraper:hover {
    transform: scale(1.04);
}
.search-bar-wraper:focus-within {
    border-color:  #cfb740;
    box-shadow: 0 0 5px  #cfb740; 
}
#search-button{
    align-self: end;
    justify-self: end;
    background-color: #cfb740;
}
#search-button:hover {
    background-color:#96852f; 
    cursor: pointer;
}






.show{
    opacity: 1;
}
.fa.fa-search{
    margin:0.5rem 0;
    color: #000000;
}

.posts-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f9f8f4;
  justify-items: center; 
  align-items: center;
  padding: 4rem 2rem;
}

.post-img-warpper{
    height:100vh;
    width:50vw;
}

.post-img-warpper > img{
     height:100%;
     width:100%;
     border-radius: 50px;
}

.post-title{
    text-align: center;
}

.post-body{
    width:60%;
    max-width: 740px;
}

.date-section{
    display: grid;
    grid-template-columns: 1fr 2fr ;
} 


.comments-section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-section{
   max-width: 50%;
}

input {
    margin:7px;
    width:50vw;
    padding-bottom: 0.8rem;
} 

.comment-input{
    padding-bottom: 6rem;
}
#comment-form{
    flex-direction: column;
    display: none;
}

.reply-btn{
    margin-left:auto;
}


