body,
html {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fff5d1;

}

@font-face {
  font-family: "GT Super";
  src: url("GT-Super-Display-Medium-Trial.otf") format("opentype");
}



div {
  padding: 1.5rem;
}

h1 {
  font-family: "GT Super", sans-serif;
  font-size: 3rem;
  line-height: 6rem;

}

p {
  
  font-size: 1.5rem;
  line-height: 1.5em;
}
.subtitle {
  font-size: 3rem;
}

.header {
  padding:1rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 4fr; 
  align-items: center;
}

.auto-type{
  margin-left:20px; 
  color: #CED16B; 
  transition: opacity 0.5s ease-in;
}

.typed-cursor {
  color: #CED16B;
  font-weight: bold; 
}



.logo-wrapper , .logo-footer{
  width: 30%;
  height: 150px;
  max-width: 200px; 
  overflow: hidden; 
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
}



.nav-bar-wrapper{
   display: flex;
   justify-content: start;
   align-items: start;
   margin-left: 10vw;
}
.nav-bar {
  max-width: 30rem;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(168, 161, 136,0.6);
  align-self:center;
  justify-self: center;
}
.nav-bar > a {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}


.current-link, .nav-bar > a:hover{
   background-color: rgba(255, 245, 209, 0.6);
   border-radius: 50px;
   padding:0.3rem 1.3rem;
}



.hero-title {
  font-family: "GT Super", sans-serif;
  display:flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 2rem;
  font-size: 9rem;
  padding-bottom: 0;
  line-height: rem;
}


.sparks{
  width: 30%;
  height: 150px;
  max-width: 200px; 
  overflow: hidden;
  background-image: url(sparks.png);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.sparks.visible {
  opacity: 1; 
}
.fav-posts-wrapper {
  position: relative;
  padding: 0;
}

.custom-shape-divider-top-1724784652 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: 0;
  transform: rotate(180deg);
  background-color: #f9f8f4;
}

.custom-shape-divider-top-1724784652 svg {
  display: block;
  width: calc(153% + 1.3px);
  height: 173px;
  border: none;
}

.custom-shape-divider-top-1724784652 .shape-fill {
  fill: #fff5d1;
}

@media (max-width: 767px) {
  .custom-shape-divider-top-1724784652 svg {
    width: calc(155% + 1.3px);
    height: 92px;
  }
}



.fav-posts {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f9f8f4;
  padding: 10rem 2rem;
  justify-items: center; 
  align-items: center;
}

.fav-posts-header {
  grid-column: 1/-1;
  align-self: end;
  justify-self: end;
  text-align: end;
}

.a-post-box {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(3, 1fr);
  padding: 0;
  height: 300px;
  max-width: 80%;
  min-width: 60%;
  margin: 4vw 3rem;
  border-radius: 50px;
  box-shadow: 0px 10px 35px 15px rgb(51, 51, 51, 0.2);
  background-color: #ffff;
  opacity: 0;
  transition: all 1s;
}
.show{
  opacity: 1;
}



.post-img{
   grid-row: 1 / 4;
   grid-column: 1/2;
   padding:0;
   margin:0;
}

.post-img > img {
   height:100%;
   width:100%;
   object-fit: cover;
   border-radius: 50px;
}

.a-post-box > h2 {
  padding: 1.3rem;
  grid-row: 1/3;
  grid-column: 2/4;
  margin-bottom: 2rem;
}
.a-post-box > p {
  font-size: 1rem;
  overflow:hidden;
  margin: 0.5rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  grid-row: 2/3;
  grid-column: 2/4;
}

.fisrt-Leter{
    font-size:2.4rem;
    line-height: 3rem;
    letter-spacing: 0.02rem;
    color:#a8a188; 
}

.cr-link{
    text-align: end;    
    padding:0.7rem 1rem;
    grid-row: 3/3;
    grid-column: 2/4;
}


.cr-link > a ,i.fa.fa-arrow-right {
    text-decoration: none;
    font-weight: 500;
    color:rgb(51, 51, 51);
    position: relative;
}
i.fa.fa-arrow-right{
    cursor: pointer;
    font-size: 0.8rem;
}


.cr-link >a::after {
    content: '';
    position: absolute;
    top: 21px;
    left:0;
    height: 0.01rem;
    width: 100%;
    background-color:   rgb(51, 51, 51);
    transition: 0.5s;
}



.wrapper{
  position: relative;
  height: 100vh;
  padding:0;
  margin:0;

}
.latest-posts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 9rem;
  padding-bottom: 4rem;
  background-color: #CED16B; 
}

.scroll-section {
  position:relative;
  height: 100vh;
  z-index: 1;
  padding:0;
}

.logo-img {
  display: block;
  max-width:100%;
  transition:  all 1s ease;
}

.latest-posts-header {
  margin-bottom: 2rem;
}
.latest-posts > div {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 1.4rem;
}
.hrz-line {
  grid-column: 1/-1;
}
hr {
  border: 0;
  height: 2.4px;
  background: #000000;
}




.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #000000;
  color: #f9f8f4;
}

.footer-title {
  font-family: "GT Super", sans-serif;
}
ul {
    padding: 0;
}

i.fa{
   font-size: 1.5rem; 
}

.site-map > ul > li > a, .socials> li > a{
  color: #e5e5e5;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}
.site-map > ul> li , .socials > li{
  list-style: none;
  margin: 0.7rem;
  font-size: 1.2rem;
}

.site-map> ul> li > a:hover , .socials> li > a:hover{
  color: #b8b8b8;
}

.copy-right {
  background-color: #000000;
  color: #c1c1c1;
  text-align: center;
  line-height: 1.5;
}

#menu-btn{
  background-color: #fff5d1;
  border: none;
}

#menu-btn:hover{
  cursor: pointer;
}
.small-screens-nav{
  display: none;
  justify-items: center;
  align-items:center;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.small-screens-nav> a {
  list-style: none;
  font-size: 1.5rem;
  margin: 13px;
  transition: 1ms;
  text-align: center;
}

.small-screens-nav> a:hover{
  color: #dbce9f;
}
.nav-link {
    color:#000000;
    text-decoration: none;
    margin: 20px;
    margin-top: 20px;
    font-size: 2rem;
}

.fa.fa-bars{
    font-size: 2.8rem;
    cursor: pointer;
    margin-top: 3vw;
    color: #353431;
    display: none;
}



@media (max-width:  870px) {
  h1{
    font-size: 1.9rem;
    line-height: 2.7rem;
  }
  .hero-title > h1{
    font-size: 2.8rem;
  }
  div{
    padding:0.6rem;
  }
  p{
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
  }
  .nav-bar {
    text-align: end;
  }
  .nav-bar > a {
    margin-right: 2rem;
    margin-left: 0;
  }
  .fav-posts {
    grid-template-columns: 1fr;
  }
  .latest-posts {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .a-post-box{
    min-width: 10rem;
    margin:4rem 0.1rem;
    grid-template-rows: 1fr 1fr 2rem 1fr 3rem;
    height: 500px;
    
  }
  
.post-img{
   grid-row: 1 / 3;
   grid-column: 1/4;
}
.a-post-box > h2 {
  padding:0.3rem;
  grid-row: 3/4;
  grid-column: 1/4;
}
.a-post-box > p {
  padding:0;
  grid-row: 4/5;
  grid-column: 1/4;
  margin-top: 5rem;
}
.cr-link{
  grid-row: 5/6;
  grid-column: 1/4;
}
.logo-wrapper {
  width:20%;
}
.header {
  display: flex;
   padding: 1rem; 
}
#menu-btn {
  margin-left: auto;
}
.nav-bar{
  display:none;
}
.fa.fa-bars{
  display: block;
}
}
.socials {
  margin-left: 5rem;
}

.socials > ul {
  margin: 3rem 0.2rem;
}

.logo-footer{
  margin-top: 2rem;
   background-image: url(logo-white.png);
}

@media (max-width: 870px) {
  .contact {
    grid-template-columns: 1fr;
  }

  .socials {
    margin-left: 1rem;
  }
}

